b {
  color: orange;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

calcite-label {
  --calcite-color-text-1: #ffffff;
  --calcite-font-size--1: 1.1rem;
  /* margin-top: 1vh; */
  margin-left: 15px;
  margin-top: 5%;
}

calcite-tabs {
  --calcite-color-border-3: #555555;
  --calcite-color-border-2: #555555;
  --calcite-color-border-1: #555555;
}

calcite-action-bar {
  --calcite-color-border-3: #555555;
  --calcite-color-text-3: #bfbfbf;
}

calcite-shell {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-text-1: #ffffff;
  --calcite-color-background: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-shell-panel {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-panel {
  overflow-y: auto;
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-text-2: #ffffff;
  background-color: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-list {
  overflow-y: auto;
  --calcite-color-border-3: #555555;
}

.calcitePanelBasemaps {
  display: grid;
  width: 100%;
  height: 100%;
}

.esri-view .esri-view-surface--touch-none:focus::after {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}
/* Track */
::-webkit-scrollbar-track {
  background: #00032235;

  /*#032235*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00032235;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00032235;
}

.esri-legend__layer-caption {
  display: none;
}

.esri-legend * {
  background-color: #2b2b2b;
}

.calcite-tutorial {
  --calcite-color-brand: #039851;
  --calcite-color-brand-hover: #008d52;
}

.calcite-tutorial calcite-chip {
  --calcite-color-foreground-2: var(--calcite-color-brand);
  --calcite-color-text-1: white;
  margin-inline-end: 0.75rem;
}

/* Utility Chart Panel */
.lotNumberImage {
  display: flex;
  padding-left: 20px;
}

/* Header */
#headerDiv {
  display: flex;
  width: 100%;
  padding: 0.4rem;
}

.headerTitle {
  color: white;
  margin-left: 1rem;
  font-size: calc(15px + 0.390625vw);
  margin-top: auto;
  margin-bottom: auto;
}

calcite-segmented-control {
  margin-left: 35%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.date {
  color: #9ca3af;
  font-size: 0.9rem;
  width: 200px;
  height: 20px;
  margin-top: auto;
  margin-left: 15%;
}

.dropdownFilter {
  height: 50px;
  width: 70%;
  border-color: rgb(0, 0, 0, 0);
  padding-top: 10px;
  margin-left: -10rem;
}

.dropdownFilterLayout {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: black;
  justify-content: right;
}

/* total Progress */
.totalProgressNumber {
  color: #6ede00;
  font-size: 3rem;
  font-weight: bold;
  font-family: "calibri";
  margin-left: 4%;
}

.totalProgressNumber2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 6%;
  margin-left: 4%;
}

/* Information panel */
.informationDiv {
  padding-right: 10px;
}
